## Load Tile Placements Table

In [1]:
import sqlite3
conn = sqlite3.connect('../dataset/tile_placements.db')
c = conn.cursor()

In [ ]:
conn.close()

---

## Create Tile Placements Table

In [ ]:
c.execute('''CREATE TABLE tile_placements 
            (timestamp INTEGER, user_hash TEXT, user_name TEXT, x_coord INTEGER, y_coord INTEGER, color INTEGER)''')
conn.commit()

---

## Insert CSV File to Tile Placements Table

In [ ]:
def insert_tile_placement(timestamp, user_hash, user_name, x_coord, y_coord, color):
    c.execute('''INSERT INTO tile_placements (timestamp, user_hash, user_name, x_coord, y_coord, color)
                 VALUES (?, ?, ?, ?, ?, ?);''', (timestamp, user_hash, user_name, x_coord, y_coord, color))

In [ ]:
read_data = open("../data_set/tile_placements.csv").readlines()[1:]
for line in read_data:
    line = line.split(',')
    insert_tile_placement(int(line[0]), line[1], line[2],  int(line[3]), int(line[4]), int(line[5]))
conn.commit()

---

## Empty Table

In [ ]:
c.execute("DELETE FROM tile_placements;")
conn.commit()

---

##  Show Size of Table

In [2]:
c.execute('SELECT COUNT(*) FROM tile_placements;')
print (c.fetchone())

OperationalError: no such table: tile_placements

---

##  Show Contents of Table

In [ ]:
c.execute('SELECT * FROM tile_placements;')
print (c.fetchone())

---

##  Generate Index for Table

In [ ]:
c.execute('CREATE INDEX idx_placement_username ON tile_placements (user_name)')

In [ ]:
c.execute('CREATE INDEX idx_placement_coord ON tile_placements (x_coord, y_coord)')

---

##  Search Contents of Table

In [ ]:
%%time
c.execute("SELECT * FROM tile_placements WHERE user_name = 'bolush_it';")
print (c.fetchall())

---

##  Get Unique UserNames in Table

In [ ]:
%%time
c.execute("SELECT DISTINCT user_name FROM tile_placements;")
print (c.fetchall())